html {
  width: 100vw;
}
body {
  overflow-x: hidden;
  // background-color: #f7f7f7;
  font-family: "Nunito", sans-serif;
}

button:focus {
  outline: none;
}

.blueBg {
  min-height: 100vh;
  margin-bottom: 50px;
  background: linear-gradient(
    to bottom right,
    rgb(229, 243, 247),
    rgb(245, 250, 252)
  );
}

// Starting of header section
#header {
  padding: 20px 40px;

  h5 {
    margin: 0px;
  }
  ul {
    display: flex;
    align-items: center;

    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .nav {
    justify-content: space-between;
  }

  .brandContainer {
    li:nth-child(2) {
      margin: 0px 20px;
    }

    h1 {
      font-weight: 900 !important;
      background: linear-gradient(349.8deg, #ff7676 0%, #f54ea2 100%), #95a5b8;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-right: 20px;
    }
  }

  .tabContainer {
    a {
      font-weight: bolder;
      color: #000;
      margin: 0px 20px;
      span {
        font-weight: normal;
      }
    }
  }

  .btnContainer {
    button {
      margin-left: 20px;
      padding: 10px 25px;
      width: 150px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 5px;
      img {
        width: 20px;
        height: auto;
      }
    }
  }

  .menu {
    display: none;
    cursor: pointer;
    background: linear-gradient(349.8deg, #ff7676 0%, #f54ea2 100%), #95a5b8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
// Ending of header section

// Starting of landing section
#landingSection {
  min-height: 80vh;
  position: relative;

  .container {
    max-width: 1400px !important;
    height: 100%;
  }

  .row {
    height: 100%;
    padding-bottom: 50px;
  }

  p {
    font-size: 20px;
  }

  .btns {
    button {
      margin-right: 20px;
      margin-top: 20px;
      padding: 10px 25px;
      width: 150px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 5px;
      img {
        width: 20px;
        height: auto;
      }
    }
  }

  .content {
    p {
      width: 60%;
    }
  }

  .floatingBtn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%);
    font-size: 32px;
    padding: 30px 50px;
    border-radius: 500px 0px 500px 500px;
    border: none;
    background: linear-gradient(342.8deg, #ff7676 0%, #f54ea2 100%);
    color: #fff;
    z-index: 4;
  }

  .mainImg {
    height: auto;
    width: 80%;
  }
}
// Ending of landing section

// Starting of 5 col section
#fiveColSection {
  margin-bottom: 200px;
  .mCol {
    width: 18%;
    margin: 0px 10px;
  }
}
// Ending of 5 col section

// Starting of showcase section
#showcaseSection {
  min-height: 100vh;
  .row {
    height: 100%;
    margin-bottom: 100px;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
}
// Ending of showcase section

// Starting of large text section
#largeTextSection {
  background: linear-gradient(342.8deg, #ff7676 0%, #f54ea2 100%);
  margin-top: 100px;
  min-height: 100vh;
  h1 {
    font-weight: 500;
    font-size: 65px !important;
    line-height: 90px;
  }
  p {
    font-size: 30px;
  }
}
// Ending of large text section

// Starting of footer
#footer {
  min-height: 70vh;
  background-color: #000;
  padding: 50px;
  padding-bottom: 20px;
  p,
  a {
    font-size: 20px;
  }

  .brands {
    img {
      width: 45px;
      height: auto;
    }

    img:nth-child(3) {
      width: 60px;
    }
  }

  .sizedBox {
    width: 20px;
  }

  button {
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 25px;
    width: 150px;
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    img {
      width: 20px;
      height: auto;
    }
  }
}
// Ending of footer

// different screen size fixes

@media screen and (max-width: 1350px) {
  #header {
    .btnContainer {
      display: none;
    }
  }
}

@media screen and(max-width: 1350px) {
  #header {
    .brandContainer {
      width: 90vw;
      display: flex;
      justify-content: space-between;
    }
    .tabContainer {
      flex-direction: column;
      display: none;
      li {
        margin: 10px 0px;
      }
    }
    .menu {
      display: block;
    }
    .nav {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 680px) {
  #landingSection {
    h1 {
      font-size: 52px;
    }
    .mainImg {
      margin-top: 20px;
    }
    .floatingBtn {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 540px) {
  #header {
    padding: 20px !important;
  }
  #landingSection {
    .floatingBtn {
      font-size: 16px;
    }
    .content {
      p {
        width: 100%;
      }
    }
  }

  #footer {
    a {
      font-size: 14px !important;
    }
  }
}

@media screen and (max-width: 1100px) {
  #fiveColSection {
    .mCol {
      width: 30%;
    }
  }
}

@media screen and (max-width: 700px) {
  #fiveColSection {
    .mCol {
      width: 100%;
    }
  }

  #showcaseSection {
    h1 {
      font-size: 42px !important;
    }
  }

  #largeTextSection {
    h1 {
      font-size: 30px !important;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 1100px) {
  #footer {
    ul {
      margin-top: 20px;
      width: 100%;
      li {
        width: 30%;
        margin: 10px 0px;
      }
      li:nth-child(1) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and(min-width: 1350px) {
  #header {
    .tabContainer {
      display: flex !important;
    }
  }
}

@media screen and(min-width: 1024px) {
  #landingSection {
    .mainImg {
      margin-top: 20px;
    }
  }
}
