html {
  width: 100vw;
  scroll-behavior: smooth !important;
}
body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.blueBg {
  height: 110vh;
  overflow: hidden;
  margin-bottom: 50px;
  background: linear-gradient(
    to bottom,
    rgb(229, 243, 247),
    rgb(255, 255, 255)
  );
}

// Starting of header section
#header {
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: transform 500ms;

  h5 {
    margin: 0px;
  }
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .nav {
    justify-content: space-between;
  }

  .brandContainer {
    li:nth-child(2) {
      margin: 0px 20px;
    }

    h1 {
      margin: 0px;
      font-weight: 900 !important;
      background: linear-gradient(349.8deg, #ff7676 0%, #f54ea2 100%), #95a5b8;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-right: 20px;
    }
  }

  .tabContainer {
    a {
      font-weight: bolder;
      color: #000;
      margin: 0px 20px;
      span {
        font-weight: normal;
      }
    }
  }

  .btnContainer {
    button {
      margin-left: 20px;
      padding: 10px 25px;
      width: 150px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 5px;
      img {
        width: 23px;
        height: auto;
      }
    }
  }

  .menu {
    display: none;
    cursor: pointer;
    img {
      width: 30px;
    }
  }
}

.header-slide-up {
  transform: translateY(-110px);
}

.header-slide-down {
  transform: translateY(0px);
}

.header-shadow {
  background-color: white;
  box-shadow: 0 1px 15px #e4ebf1;
}
// Ending of header section

// Starting of landing section
#landingSection {
  min-height: 80vh;
  margin-top: 80px;
  .container {
    max-width: 1400px !important;
    height: 100%;
  }

  .row {
    height: 100%;
    padding: 0px 50px;
    .col-md-6:nth-child(1) {
      margin-bottom: 120px;
    }
  }

  p {
    font-size: 20px;
  }

  .btns {
    button {
      margin-right: 20px;
      margin-top: 20px;
      padding: 10px 25px;
      width: 150px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 5px;
      img {
        width: 20px;
        height: auto;
      }
    }
  }

  .contentContainer {
    margin-bottom: 50%;
  }

  .content {
    p {
      width: 80%;
    }
  }

  .floatingBtn {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    transform: translate(-50%);
    font-size: 32px;
    padding: 30px 50px;
    border-radius: 500px 0px 500px 500px;
    border: none;
    background: linear-gradient(342.8deg, #ff7676 0%, #f54ea2 100%);
    color: #fff;
    z-index: 1;
  }
}
// Ending of landing section

// Starting of 5 col section
#fiveColSection {
  margin-bottom: 100px;
  .mCol {
    width: 20%;
    margin: 0px 10px;
  }

  .mainImg {
    height: 200px;
    width: 90%;
  }
}
// Ending of 5 col section

// Starting of slider section
#sliderSection2 {
  ol {
    top: 480px;
    li {
      background-color: rgb(223, 222, 222);
      height: 20px;
      width: 20px;
      border-radius: 50%;
      margin: 0px 10px;
    }
    .active {
      background-color: palevioletred;
    }
  }
}

#sliderSection {
  display: none;
  margin-bottom: 50px;
  ol {
    top: 420px;
    li {
      background-color: rgb(223, 222, 222);
      height: 20px;
      width: 20px;
      border-radius: 50%;
      margin: 0px 10px;
    }
    .active {
      background-color: palevioletred;
    }
  }
  .content {
    height: 500px;
    padding: 20px;
  }

  .mainImg {
    height: 150px;
    width: auto;
  }

  .carousel-indicators {
    margin-left: 5%;
    margin-right: 5%;
  }
}
// Ending of slider section

// Starting of showcase section
#showcaseSection {
  min-height: 100vh;
  margin-top: 100px;
  .row {
    height: 100%;
    margin-bottom: 100px;
  }
  p {
    font-size: 20px;
    max-width: 70%;
    font-weight: 500;
  }
}
// Ending of showcase section

// Starting of large text section
#largeTextSection {
  background: linear-gradient(342.8deg, #ff7676 0%, #f54ea2 100%);
  margin-top: 100px;
  padding: 40px 20px;
  padding-top: 70px;
  h1 {
    font-weight: 500;
    font-size: 65px !important;
  }
  p {
    margin: 0px;
    font-size: 30px;
  }
}
// Ending of large text section

// Starting of footer
#footer {
  background-color: #000;
  padding: 50px;
  padding-bottom: 20px;
  width: 100%;
  p,
  a {
    font-size: 20px;
  }

  .brands {
    margin: 20px 0px;
    img {
      width: 35px;
      height: auto;
    }

    img:nth-child(3) {
      width: 45px;
    }

    img:nth-child(5) {
      width: 30px;
    }
  }

  .sizedBox {
    width: 30px;
  }

  button {
    margin-top: 20px;
    padding: 10px 25px;
    width: 150px;
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    img {
      width: 25px;
      height: auto;
    }
  }

  button:nth-child(1) {
    margin-right: 20px;
  }

  .detailContainer {
    margin: auto;
    width: 80% !important;
  }
}
// Ending of footer

// different screen size fixes
@media screen and (max-width: 540px) {
  #header {
    padding: 20px !important;
  }
  #landingSection {
    .floatingBtn {
      font-size: 16px;
    }
    .content {
      h1 {
        font-size: 32px !important;
      }
      p {
        width: 100%;
      }
    }
  }

  #footer {
    padding: 15px;
    a {
      font-size: 12px !important;
    }
    .brands {
      margin: 20px 0px;
    }
  }
}

@media screen and (max-width: 680px) {
  #landingSection {
    h1 {
      font-size: 40px !important;
    }
    .mainImg {
      margin-top: 20px;
    }
    .floatingBtn {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .btns {
      button {
        width: 130px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #fiveColSection {
    .mCol {
      width: 100%;
    }
  }

  #showcaseSection {
    h1 {
      font-size: 42px !important;
    }
  }

  #largeTextSection {
    h1 {
      font-size: 30px !important;
      line-height: 50px;
    }
    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    padding-bottom: 20px;
  }
  #landingSection {
    position: relative;
    .row {
      .col-md-6:nth-child(1) {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #landingSection {
    h1 {
      font-size: 52px;
    }
  }
}

@media screen and(min-width: 1024px) {
  #landingSection {
    .mainImg {
      margin-top: 20px;
    }
  }
}

@media screen and(min-width: 1600px) {
  #footer {
    .detailContainer {
      width: 70% !important;
    }
  }
}

@media screen and(min-width: 1900px) {
  #landingSection {
    .contentContainer {
      margin-bottom: 10%;
    }
  }
}

@media screen and(max-width: 992px) {
  #header {
    margin-bottom: 20px;
  }
  #landingSection {
    position: relative;
    .mainImg {
      margin-top: 20px;
    }
  }
  #showcaseSection {
    p {
      max-width: 100%;
    }
  }
}

@media screen and(max-width: 1075px) {
  #landingSection {
    h1 {
      font-size: 50px !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  #sliderSection {
    display: block;
  }

  #sliderSection2 {
    display: none;
  }
  #fiveColSection {
    display: none;
    .mCol {
      width: 30%;
    }
  }
  #footer {
    ul {
      margin-top: 30px !important;
      li {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #landingSection {
    .row {
      padding: 0px;
    }

    .contentContainer {
      margin-bottom: 0px;
    }

    .mainImg {
      width: 100%;
      height: auto;
    }
  }

  .blueBg {
    height: auto;
    min-height: 100vh;
  }
}

@media screen and(min-width: 1350px) {
  #header {
    .tabContainer {
      display: flex !important;
    }
  }
}

@media screen and (max-width: 1350px) {
  #header {
    .btnContainer {
      display: none;
    }
    .brandContainer {
      width: 90vw;
      display: flex;
      justify-content: space-between;
    }
    .tabContainer {
      flex-direction: column;
      display: none;
      li {
        margin: 10px 0px;
      }
    }
    .menu {
      display: block;
    }
  }
}

@media screen and(max-width: 1445px) {
  #footer {
    .detailContainer {
      width: 100% !important;
    }
  }
}
