html {
  width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.blueBg {
  height: 110vh;
  overflow: hidden;
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5f3f7), to(white));
  background: linear-gradient(to bottom, #e5f3f7, white);
}

#header {
  padding: 20px 40px;
  padding-bottom: 0px;
}

#header h5 {
  margin: 0px;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#header .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .brandContainer li:nth-child(2) {
  margin: 0px 20px;
}

#header .brandContainer h1 {
  margin: 0px;
  font-weight: 900 !important;
  background: linear-gradient(349.8deg, #ff7676 0%, #f54ea2 100%), #95a5b8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}

#header .tabContainer a {
  font-weight: bolder;
  color: #000;
  margin: 0px 20px;
}

#header .tabContainer a span {
  font-weight: normal;
}

#header .btnContainer button {
  margin-left: 20px;
  padding: 10px 25px;
  width: 150px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#header .btnContainer button img {
  width: 23px;
  height: auto;
}

#header .menu {
  display: none;
  cursor: pointer;
}

#header .menu img {
  width: 30px;
}

#landingSection {
  min-height: 80vh;
}

#landingSection .container {
  max-width: 1400px !important;
  height: 100%;
}

#landingSection .row {
  height: 100%;
  padding: 0px 50px;
}

#landingSection .row .col-md-6:nth-child(1) {
  margin-bottom: 120px;
}

#landingSection p {
  font-size: 20px;
}

#landingSection .btns button {
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px 25px;
  width: 150px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#landingSection .btns button img {
  width: 20px;
  height: auto;
}

#landingSection .contentContainer {
  margin-bottom: 60%;
}

#landingSection .content p {
  width: 60%;
}

#landingSection .floatingBtn {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 32px;
  padding: 30px 50px;
  border-radius: 500px 0px 500px 500px;
  border: none;
  background: linear-gradient(342.8deg, #ff7676 0%, #f54ea2 100%);
  color: #fff;
  z-index: 4;
}

#fiveColSection {
  margin-bottom: 100px;
}

#fiveColSection .mCol {
  width: 18%;
  margin: 0px 10px;
}

#sliderSection {
  display: none;
  margin-bottom: 50px;
}

#sliderSection ol {
  top: 420px;
}

#sliderSection ol li {
  background-color: #dfdede;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0px 10px;
}

#sliderSection ol .active {
  background-color: palevioletred;
}

#sliderSection .content {
  height: 500px;
  padding: 20px;
}

#showcaseSection {
  min-height: 100vh;
  margin-top: 100px;
}

#showcaseSection .row {
  height: 100%;
  margin-bottom: 100px;
}

#showcaseSection p {
  font-size: 20px;
  font-weight: 500;
}

#largeTextSection {
  background: linear-gradient(342.8deg, #ff7676 0%, #f54ea2 100%);
  margin-top: 100px;
  padding: 40px 20px;
  padding-top: 70px;
}

#largeTextSection h1 {
  font-weight: 500;
  font-size: 65px !important;
  line-height: 90px;
}

#largeTextSection p {
  margin: 0px;
  font-size: 30px;
}

#footer {
  background-color: #000;
  padding: 50px;
  padding-bottom: 20px;
  width: 100%;
}

#footer p,
#footer a {
  font-size: 20px;
}

#footer .brands {
  margin: 20px 0px;
}

#footer .brands img {
  width: 35px;
  height: auto;
}

#footer .brands img:nth-child(3) {
  width: 45px;
}

#footer .brands img:nth-child(5) {
  width: 30px;
}

#footer .sizedBox {
  width: 30px;
}

#footer button {
  margin-top: 20px;
  padding: 10px 25px;
  width: 150px;
  background-color: #fff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#footer button img {
  width: 25px;
  height: auto;
}

#footer button:nth-child(1) {
  margin-right: 20px;
}

@media screen and (max-width: 540px) {
  #header {
    padding: 20px !important;
  }
  #landingSection .floatingBtn {
    font-size: 16px;
  }
  #landingSection .content p {
    width: 100%;
  }
  #footer {
    padding: 15px;
  }
  #footer a {
    font-size: 12px !important;
  }
  #footer .brands {
    margin: 20px 0px;
  }
}

@media screen and (max-width: 680px) {
  #landingSection h1 {
    font-size: 40px !important;
  }
  #landingSection .mainImg {
    margin-top: 20px;
  }
  #landingSection .floatingBtn {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #landingSection .btns button {
    width: 130px;
  }
}

@media screen and (max-width: 700px) {
  #fiveColSection .mCol {
    width: 100%;
  }
  #showcaseSection h1 {
    font-size: 42px !important;
  }
  #largeTextSection h1 {
    font-size: 30px !important;
    line-height: 50px;
  }
  #largeTextSection p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    padding-bottom: 20px;
  }
  #landingSection {
    position: relative;
  }
  #landingSection .row .col-md-6:nth-child(1) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  #landingSection h1 {
    font-size: 52px;
  }
}

@media screen and (min-width: 1024px) {
  #landingSection .mainImg {
    margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
  #header {
    margin-bottom: 20px;
  }
  #landingSection {
    position: relative;
  }
  #landingSection .mainImg {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1100px) {
  #sliderSection {
    display: block;
  }
  #fiveColSection {
    display: none;
  }
  #fiveColSection .mCol {
    width: 30%;
  }
  #footer ul {
    margin-top: 20px;
    width: 100%;
  }
  #footer ul li {
    width: 30%;
    margin: 10px 0px;
  }
  #footer ul li:nth-child(1) {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  #landingSection .row {
    padding: 0px;
  }
  #landingSection .contentContainer {
    margin-bottom: 0px;
  }
  #landingSection .mainImg {
    width: 100%;
    height: auto;
  }
  .blueBg {
    height: auto;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1350px) {
  #header .tabContainer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 1350px) {
  #header .btnContainer {
    display: none;
  }
  #header .brandContainer {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .tabContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  #header .tabContainer li {
    margin: 10px 0px;
  }
  #header .menu {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */